@import "../../styles/vars";
@import "../../styles/_mixin.scss";

.member {
    /* margin-top: 115px; */ //до правкок дизайна
    margin-top: 200px;
    margin-bottom: 50px;
    
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__steps {
        width: 410px;
        display: flex;
        justify-content: space-between;  
    }
    .step__wrapper {
        position: relative;
        z-index: 1;
    }
    .step__first {
        &_color{
            margin: 0;
            padding: 0;
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF;
        }
        @include before_circle-pressed;
        @include divider;    
    }
    .step__second,
    .step__third {
        margin: 0;
        padding: 0;
        font-size: 32px;
        font-weight: 700;
        @include before_circle;
        @include divider;
    }
    .step__fourth {
        margin: 0;
        padding: 0;
        font-size: 32px;
        font-weight: 700;
        @include before_circle;
    }
    &__title {
        margin-top: 70px;
        font-size: 48px;
        line-height: 61px;
    }
    &__subTitle{
        margin-top: 10px;
        font-size: 24px;
        color: $accentColor;
        text-align: center;
    }
    &__btn {
        margin-top: 58px;
        .btn {
            display: block;
        }      
    }
}
@media(min-width: $ultra) {
    .member {
        margin-top: 300px;
        margin-bottom: 300px;
        &__title {
            margin-top: 105px;
            font-size: 90px;
            line-height: 115px;
        }
        .step__wrapper {
            font-size: 60px;
        }

        &__subTitle {
            margin-top: 30px;
            font-size: 43px;
            line-height: 55px;    
        }
        &__steps {
            width: 810px;
        }
        .step__first, 
        .step__second, 
        .step__third, 
        .step__fourth {
            font-size: 60px;
            &:before {
                width: 145px;
                height: 145px;
                top: -34px;
                left: -56px;
            }
            &::after{
                width: 119px;
                top: 30px;
                left: 86px;
                border: 7px solid #5FAE36;
            }  
        }
        &__btn {
            margin-top: 50px;  
        }
    }
}

@media (max-width: 1105px) {
    .member {
        &__title {
            font-size: 40px;
        }
    }
}
@media (max-width: $tablet), (orientation: portrait) and (min-width: $tablet) and (max-width: 1025px) and (min-height:1024px) and (max-height:1367px), 
(orientation: landscape) and (min-width: 1023px) and (max-width: 1367px) and (min-height: 767px) and (max-height: 1025px)  {
    .member{
        /* margin-top: 115px; */ //Идеальный отсуп
        margin-top: 150px;
        margin-bottom: 50px;
        &__title {
            margin-top: 40px;
            line-height: 38px;
            font-size: 30px;
        }
        .step__wrapper {
            font-size: 24px;
        }
        &__subTitle {
            font-size: 20px;
            line-height: 26px;    
        }
        &__steps {
            width: 350px;
        }
        .step__first, 
        .step__second, 
        .step__third, 
        .step__fourth {
            font-size: 24px;
            &:before {
                width: 47px;
                height: 47px;
                top:-8px;
                left: -16px;
            }
            &::after{
                width: 67px;
                top: 12px;
                left: 30px;
            }  
        }
        &__btn {
            margin-top: 50px;  
        }
    }
}
@media (max-width: 821px){
    .member {
        &__title {
            font-size: 29px;
            line-height: 30px;
        }
        &__subTitle {
            font-size: 17px;
            line-height: 22px;  
            } 
    }
}
@media (max-width: $smallTablet) {
    .member {
    &__title {
            font-size: 16px;
            line-height: 20px;
        }
    &__subTitle {
        font-size: 10px;
        line-height: 13px;  
        } 
    &__steps {
        width: 300px; 
    }
    .step__first, 
        .step__second, 
        .step__third, 
        .step__fourth {          
            &::after{
                width: 50px;
            }  
        } 
    }
}

@media (max-width: $mobile) {
    .member{
        margin-top: 50px;
        margin-bottom: 30px;
        &__title {
            margin-top: 40px;
            font-size: 12px;
            line-height: 16px;
        }
        &__subTitle {
            margin-top: 5px;
            font-size: 8px;  
            line-height: 10px;  
        }      
        .step__wrapper {
            font-size: 15px;
        }
        &__steps {
            width: 138px;
        }
        .step__first, 
        .step__second, 
        .step__third, 
        .step__fourth {
            font-size: 15px; 
            line-height: 20px;
            outline: 0;
            vertical-align: baseline;
            &:before {
                width: 23px;
                height: 23px;
                top: -1px;
                left: -7px;
                border: 2px solid #5FAE36;
            }
            &::after{
                width: 23px;
                top: 8px;
                left: 15px;
                border: 2px solid #5FAE36;
            }  
        }
        .step__fourth {
            &:before {
                left: -7px;
            }}
        &__btn {
            margin-top: 15px;
        }
    }
}
