/* Breakpoints */
$smallMobile: 300px;
$mobile: 480px;
$horizonMobile: 900px;
$smallTablet: 730px;
$tablet: 959px;
$desktop: 1199px;
$ultra: 2500px;

$landscape: 1050px;
$landscapeMiddle: 668px;
$landscapeSmall: 500px;

/* Colors */
$bgColor: #ffffff;
/* $accentColor: #E88A01; */
$accentColor: #E88B00; 
$greenColor: #3E8F35;
$greyColor: #F2F2F2;
$textColor: #000000;
$bgColor_dark: #000000;
$textColor_dark: #ffffff;


/* Fonts */
$generalFont: "Century Gothic";
$modalFont: "Raleway Medium";