@import "../../styles/vars";

.formAnswer {
  max-width: 620px;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ebebeb;
}

#dark .formAnswer {
  background-color: #1A1A1A;
  color: $textColor_dark;
}

@media (max-width: $tablet) {
  .formAnswer {
    max-width: 580px;
    width: 100%;
    font-size: 20px;
    line-height: 18px;
  }

  .personalData {
    width: 100%;
    border-radius: 10px;
  }
}
/* @media (max-width: $smallTablet)  */
@media (max-width: $mobile) {
  .formAnswer {
    width: 100%;
    border-radius: 10px;
    font-size: 10px;
    line-height: 9px;
  }
}

@media (min-width: $ultra) {
  .formAnswer {
    max-width: 1145px;
    width: 100%;
    border-radius: 50px;
    font-size: 24px;
    line-height: 21px;
  }
}
