@import "../../styles/vars";

.buttonCloseWrapper {
  overflow: hidden;
}

.buttonClose {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.buttonClose_active {
  transform: translateX(200%);
  transition: transform 200ms ease;
}

.buttonClose__arrowWrapper {
  width: 0;
  height: 20px;
  overflow: hidden;
}

.buttonCloseWrapper:hover .buttonClose__arrowWrapper {
  width: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: width 0.1s ease-in-out;
}

.buttonClose__arrow {
  width: 20px;
}

@media screen and (max-width: $tablet), (orientation: portrait) and (min-width: $tablet) and (max-width: 1025px) and (max-height:1367px) {
    .buttonClose__arrowWrapper {
        height: 20px;
      }

      .buttonClose__arrow {
        width: 20px;
      }

      .buttonCloseWrapper:hover .buttonClose__arrowWrapper {
      width: 0;
      display: none;
    }
     

    .buttonCloseWrapper:active .buttonClose__arrowWrapper {
      width: 20px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      transition: width 0.1s ease-in-out;
    }
}

@media screen and (max-width: $mobile) {
    .buttonClose__arrowWrapper {
        height: 12px;
      }

      .buttonClose__arrow {
        width: 12px;
      }

      .buttonCloseWrapper:hover .buttonClose__arrowWrapper {
      width: 0;
      display: none;
    }
     

    .buttonCloseWrapper:active .buttonClose__arrowWrapper {
      width: 12px;
      display: flex;
      align-items: center;
      margin-left: 5px;
      transition: width 0.1s ease-in-out;
    }
}


@media screen and (min-width: $ultra) {
    .buttonClose__arrowWrapper {
    height: 30px;
  }

  .buttonCloseWrapper:hover .buttonClose__arrowWrapper {
    width: 30px;
    margin-left: 20px;
  }

  .buttonClose__arrow {
    width: 30px;
  }
}
@media screen 
and (orientation: landscape) 
and (min-width: 1023px) 
and (max-width: 1367px) 
and (min-height: 767px) 
and (max-height: 1025px) {
  .buttonClose__arrowWrapper {
    height: 20px;
  }

  .buttonClose__arrow {
    width: 20px;
  }

  .buttonCloseWrapper:hover .buttonClose__arrowWrapper {
  width: 0;
  display: none;
}

.buttonCloseWrapper:active .buttonClose__arrowWrapper {
  width: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: width 0.1s ease-in-out;
}
}